/*Estructura general de las paginas*/
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: "header" 15%
                   "main" 70%
                   "footer" 15% / 
                   1fr;
    justify-items: center;
    
}
.header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    color: rgb(51, 128, 255);
    background: rgb(63,135,175);
background: radial-gradient(circle, rgba(63,135,175,1) 0%, rgba(31,31,31,1) 27%, rgba(63,135,175,1) 56%, rgba(31,31,31,1) 79%);
}
.header__img{
    max-height: 80%;
}
.main{
    width: 100%;
    grid-area: main;
    display: flex;
    align-content: center;
}
.footer{
    width: 100%;
    grid-area: footer;
}