/*Estructura general de las paginas*/
body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: "header" 1fr
                   "main" 5fr
                   "footer" 1fr /
                   1fr;
    justify-items: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: rgba(0,0,0,0.8);
}
.header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-left: 10px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    color: rgb(51, 128, 255);
    background: rgb(63,135,175);
    background: radial-gradient(circle, rgba(63,135,175,1) 0%, rgba(31,31,31,1) 27%, rgba(63,135,175,1) 56%, rgba(31,31,31,1) 79%);
}
.header__img{
    width: 5%;
}
.main{
    width: 100%;
    box-sizing: border-box;
    grid-area: main;
    display: flex;
    justify-content: center;
}
.footer{
    width: 100%;
    grid-area: footer;
    box-sizing: border-box;
    background: rgb(63,135,175);
    background: radial-gradient(circle, rgba(63,135,175,1) 0%, rgba(31,31,31,1) 27%, rgba(63,135,175,1) 56%, rgba(31,31,31,1) 79%);
}
.section{
    margin:0 auto;
    margin-top:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 90%;
}
.section__card{
    display:flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: fit-content;
    margin: 1rem;
    border-radius: 5px;
    border-top: 5px solid gold;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    color: gold;
}
.section__card a{
    text-decoration: none;
    color: gold;
}
.section__imagenes{
    width:170px;
    height:250px;
    border-radius: 5px;
}
.section__titulo{
}